{% extends 'base.html.twig' %}

{% block title %}Casestudy UI for Justmop{% endblock %}

{% block link_tags %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block script_tags %}{{ encore_entry_script_tags('app') }}{% endblock %}


{% block body %}

    <div id="app"></div>

{% endblock %}